<%= form_for(@userexamination) do |f| %>

  <div><label>User Name:</label><%= @user_name %>
		<%= f.hidden_field :user_id, :value=> @user_id %>
  </div>
 <div>
<label>Examinations:</label><br>

<% @examinations.each do |c| %>
<label><%= check_box_tag c.id %> <%= c.examname %></label>
<% end %>
</div>
  <div class="actions">
    <%= f.submit "Create"%>
  </div>
<% end %>
