<div class="form-container">
<%= form_tag :action => 'create' %>
<div><label>User:</label><%= @user_name %></div>

<div>
<label>Exmaination:</label><br>
<% @examinations.each_with_index do |c, index| %>
<%= hidden_field_tag :user_id, :value => params[:user_id] %>
<label><%= check_box_tag "#{index}", c.id %> <%= c.examname %></label></br>
<% end %>
</div>

<div class="buttonrow">
<%= submit_tag "Create" %>
</div>

<%= form_tag %>
</div>
