<%=render :partial=>'form',:locals=>{:button_name=>'Update',:heading=>'Edit user'} %>
<div class="bottom_links">
    <a href="/users" class="link-button">&larr; All users</a>
    <%= link_to [@user],:class=>'link-button' do %>
    Show &uarr; 
<% end %>
</div>

