<h1>List of  Users</h1>

<table id="box-table-a">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Actinos</th>        
  </tr>



<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    
<td>
	<%= link_to 'View', user %> | 
    <%= link_to 'Edit', edit_user_path(user) %> | 
    <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %> | 
	<%= link_to 'Assign Examination', :controller => "userexaminations", :action=>"new", :user_id=> user.id %>

</td>
  </tr>
<% end %>
</table>

<br />

<%=link_to new_user_path,:class=>'link-button' do %>
Create New User<% end %>
