
<table id="box-table-a">
  <tr>
    <th scope="col">Module</th>
    <th scope="col">Question</th>    
    <th scope="col">Actions</th>
  </tr>
<% @questionbanks.each do |questionbank| %>
  <tr>
  	<td><%= questionbank.subject.name %></td>
  	<td><%= truncate(questionbank.question_text,:length => 25, :separator => '..') %></td>
   <td><%= link_to 'View', questionbank %> | 
    <%= link_to 'Edit', edit_questionbank_path(questionbank) %> | 
    <%= link_to 'Delete', questionbank, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
