<h1>Editing Question Bank</h1>

<%= render 'form' %>
<div class="bottom_links">
<%= link_to 'View', @questionbank,:class=>'link-button' %>
<%= link_to 'All Questions', questionbanks_path,:class=>'link-button' %>
</div>
