<div class="form-container">
    <fieldset>
        <div>
            <label>
                <b>Name:</b>
            </label>
            <%=h @questionbank.subject.name %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Question Option:</b>
            </label>
            <%=h  @questionbank.question_option %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Question Type:</b>
            </label>
            <%=h  @questionbank.question_type %>
        </div>
        <hr/>        
        <div>
            <label>
                <b>Question:</b>
            </label>
            <%=h  @questionbank.question_text %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Solution-1:</b>
            </label>
            <%=h  @questionbank.option1_text %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-2:</b>
            </label>
            <%=h  @questionbank.option2_text %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-3:</b>
            </label>
            <%=h  @questionbank.option3_text %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-4:</b>
            </label>
            <%=h  @questionbank.option4_text %>
        </div>
        <hr/>
                <div>
            <label>
                <b>Solution-5:</b>
            </label>
            <%=h  @questionbank.option5_text %>
        </div>
        <hr/>        
    </fieldset>
</div>

<div class="bottom_links">

<%= link_to 'Edit', edit_questionbank_path(@questionbank),:class=>'link-button' %> 
<%= link_to 'All Questions', questionbanks_path ,:class=>'link-button'%>
</div>
