<style type="text/css">

span {
  display: inline-table;
  float: center;
  width: 10px;

}
a:active {
 color: #990066
}
a:hover {
 color: red
 
}
a:visited {
 color: green
}

</style>

<table id="q-table">
<tr>
<th scope="col"><%= @question.question_text %></th>
<tr>
<tr>
<td>
	<input type = "hidden" id="question_id" value=<%= @question.id %> />
	<input type = "hidden" id="subject_id"  value=<%= @question.subject_id %> />
 
	<input type = "radio" name="answer" id="1" onclick="checkSelected(this.id);"><%= @question.option1_text %></td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="2" onclick="checkSelected(this.id);"><%= @question.option2_text %>
</td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="3" onclick="checkSelected(this.id);"><%= @question.option3_text %>
</td>
</tr>
<tr>
<td>
<input type = "radio" name="answer" id="4" onclick="checkSelected(this.id);"	><%= @question.option4_text %>
</td>
</tr>
</table>

<script>
	function checkSelected(id){
		qid = $("#question_id").val();
		sid = $("#subject_id").val();


 		$.ajax({
		url: "/activexam/answer?question_id="+ qid +"&answer=" + id + "&subject_id=" + sid ,
		context: document.body,
		success: function(){
		    //$(this).addClass("done");
	        }
		});
	}
</script>

