<h3> Thank You For Givig Test </h3>
<h3>Total Questions in Examination: <%= @total_questions %> </h3>
<h3>Total Questions Answered: <%= @total_answered %> </h3>
<h3>Total Questions Not Answered: <%= @total_notanswer%> </h3>

