<div class="form-container">
<%= form_for(@subject) do |f| %>
 <p class="legend"><strong>Note:</strong> Required fields are marked with an asterisk (<em>*</em>)</p>

<%=f.error_messages%>
        <div>
            <label for="name">
                Name <em>*</em>
            </label>
            <%= f.text_field :name %>
        </div>
      <div>
            <label for="description ">
                Description <em>*</em>
            </label>
            <%= f.text_area :description ,:cols=>28,:rows=>5 %>
      </div>
      <div class="buttonrow">
  <%= f.submit "Create" %>
      </div>

<% end %>
</div>
