<div class="form-container">
    <fieldset>
        <div>
            <label>
                <b>Name:</b>
            </label>
            <%=h @subject.name %>
        </div>
        <hr/>
        <div>
            <label>
                <b>Description:</b>
            </label>
            <%=h @subject.description %>
        </div>
        <hr/>

    </fieldset>
</div>

<div class="bottom_links">
    <a href="/subjects" class="link-button">&larr; All Modules</a>
    &nbsp;&nbsp;
    <%= link_to edit_subject_path(@subject),:class=>'link-button' do %>
    Edit &uarr;
    <% end %>
    &nbsp;&nbsp;
    <%=link_to new_subject_path,:class=>'link-button' do %>
    Create New Module &rarr;
    <% end %>
</div>

