<div class="form-container">
<%= form_tag :action => 'create' %>
 <p class="legend"><strong>Note:</strong> Required fields are marked with an asterisk (<em>*</em>)</p>
<br>
<div>
<label>Examination Name:</label>  
<%= text_field "examination", "examname" %>
</div>
<div>
<label>Duration:</label> 
<%= text_field "examination","duration" %> Minitues
</div>
<div>
<label>QuestionBank:</label><br>

<% @subjects.each_with_index do |c, index| %>
<label><%= check_box_tag "module_#{index}", c.id %> <%= c.name %></label>
<%= text_field_tag "no_of_questions_#{index}" %> Available Questions: <%= Questionbank.count(:conditions => {:subject_id => c.id}) %> <br>
<% end %>
</div>
<div>
<label>Marks:</label><br>
<label>Passing Marks: </label> <%= text_field "examination", "passmarks", :value=>0 %><br>
<label>Positive Marks:</label> <%= text_field "examination", "positivemarks",:value=>0 %><br>
<label>Negative Marks:</label> <%= text_field "examination", "negativemarks", :value=>0 %><br>
<label>Not Attempting Marks</label> <%= text_field "examination" , "notattemptmarks", :value=>0 %>
</div>

<div class="buttonrow">
<%= submit_tag "Create" %>
</div>

<%= form_tag %>
</div>
