<h1>Examinations</h1>
<%if @examinations.blank?%>
<b>There are No Examinations yet..!</b> 
<%else%>
<table id="box-table-a">
  <tr>
    <th scope="col">Examination</th>
    <th scope="col">Actions</th>
  </tr>


<% @examinations.each do |examination| %>
  <tr>
    <td><%= examination.examname %></td>
    <td><%= link_to 'View', examination %> |     <%= link_to 'Edit', edit_examination_path(examination) %> | 
    <%= link_to 'Delete', examination, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<br>
<br>
<%=link_to new_examination_path,:class=>'link-button' do %>
Create Examination <% end %>
